<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smtp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>SMTP Configuration</label>
            <tab>ffm</tab>
            <resource>Ffm_SmtpConfigurator::smtp_settings</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Advanced configuration</label>
                <comment><![CDATA[Here you can set your own SMTP host configuration.]]></comment>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <backend_model>Magento\Analytics\Model\Config\Backend\Enabled</backend_model>
                    <config_path>smtp/general/enabled</config_path>
                </field>
                <field id="host" translate="label comment" type="time" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Smtp Host</label>
                </field>
                <field id="port" translate="label comment" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Smtp Port</label>
                </field>
            </group>
        </section>
    </system>
</config>
