<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="smtp" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>SMTP Configuration</label>
            <tab>fitforme</tab>
            <resource>Ffm_SmtpConfigurator::smtp_settings</resource>
            <group id="general" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Advanced configuration</label>
                <comment><![CDATA[Here you can set your own SMTP host configuration.]]></comment>
                <field id="authentication" translate="label comment" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Authentication Type</label>
                    <source_model>Ffm\SmtpConfigurator\Model\Config\Source\Authentication</source_model>
                </field>
                <field id="host" translate="label comment" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="port" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Port</label>
                </field>
                <field id="username" translate="label comment" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Username</label>
                </field>
                <field id="password" translate="label comment" type="password" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="protocol" translate="label comment" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Protocol</label>
                    <source_model>Ffm\SmtpConfigurator\Model\Config\Source\Protocol</source_model>
                </field>
                <field id="testemail" translate="label comment" type="text" sortOrder="75" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Test email</label>
                    <validate>validate-email</validate>
                </field>
                <field id="test_connect" translate="button_label" sortOrder="80" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <button_label>Test connection</button_label>
                    <frontend_model>Ffm\SmtpConfigurator\Block\Adminhtml\System\Config\TestButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
